:root {
    --background-color: #ffffff; /* Fundo mais claro e limpo */
    --text-color: #222222; /* Texto um pouco mais escuro para contraste */
    --header-background: #3a7ca5; /* Um azul suave para o cabeçalho */
    --header-text-color: #ffffff; /* Texto branco para destacar no cabeçalho */
    --location-background: #ff5722; /* Laranja vibrante para os botões de localização */
    --footer-background: #2c3e50; /* Azul profundo para o rodapé */
    --footer-text-color: #ecf0f1; /* Texto claro no rodapé */
    --button-background: #2980b9; /* Azul vibrante para botões */
    --button-hover-background: #3498db; /* Azul claro ao passar o mouse */
    --hub-background-color: #f0f0f0;
    --hub-text-color: #333333;

    --nav-button-background: #ffffff;
    --nav-button-text-color: #333333;
    --nav-button-hover-background: #dddddd;

    --label-text-color: #333333;
}


.dark-theme {
    --background-color: #1e272e; /* Fundo escuro suave */
    --text-color: #dcdde1; /* Texto claro com contraste */
    --header-background: #2f3640; /* Fundo do cabeçalho mais escuro */
    --header-text-color: #f5f6fa; /* Texto claro para cabeçalho */
    --location-background: #e74c3c; /* Vermelho vibrante para botões de localização */
    --footer-background: #2c3e50; /* Azul profundo para o rodapé, consistente com o modo claro */
    --footer-text-color: #dcdde1; /* Texto claro no rodapé */
    --button-background: #8e44ad; /* Roxo escuro para botões */
    --button-hover-background: #9b59b6; /* Roxo mais claro ao passar o mouse */
    --hub-background-color: #1f1f1f;
    --hub-text-color: #ffffff;

    --nav-button-background: #333333;
    --nav-button-text-color: #e0e0e0;
    --nav-button-hover-background: #555555;

    --label-text-color: #e0e0e0;
}

.colorblind-theme {
    --background-color: #f5f5f5; /* Fundo neutro e claro */
    --text-color: #2e2e2e; /* Texto escuro e de alto contraste */
    --header-background: #0072b2; /* Azul vibrante, perceptível por todas as formas de daltonismo */
    --header-text-color: #ffffff; /* Texto branco para contraste */
    --location-background: #d55e00; /* Laranja escuro, perceptível para a maioria das formas de daltonismo */
    --footer-background: #0072b2; /* Azul vibrante, consistente com o cabeçalho */
    --footer-text-color: #ffffff; /* Texto branco para contraste */
    --button-background: #e69f00; /* Amarelo vibrante, perceptível para a maioria das formas de daltonismo */
    --button-hover-background: #f0e442; /* Amarelo claro, perceptível e distinto */
    --focus-outline-color: #cc79a7; /* Rosa escuro, para alto contraste em torno de elementos focados */
    --hub-background-color: #0072b2; /* Azul vibrante */
    --hub-text-color: #ffffff;

    --nav-button-background: #e69f00; /* Amarelo alaranjado */
    --nav-button-text-color: #333333;
    --nav-button-hover-background: #f0e442; /* Amarelo claro */

    --label-text-color: #333333;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--header-background);
    color: var(--header-text-color);
    padding: 1rem;
    text-align: center;
}

#map {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.location {
    width: 50px;
    height: 50px;
    background-color: var(--location-background);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.location.correct {
    background-color:  #4CAF50; /* Verde */
}

#question-area {
    text-align: center;
    margin: 2rem;
}

#feedback {
    text-align: center;
    font-size: 1.2rem;
    color: #d9534f;
}

footer {
    background-color: var(--footer-background);
    color: var(--footer-text-color);

    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}

#congratulations {
    display: none;
    text-align: center;
    font-size: 2rem;
    color: #28a745; /* Verde */
}
#message {

    color: #28a745; /* Verde */
}
.container {
    max-width: 700px;
    margin: auto;
    background: var(--container-background-light);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-bottom: 15%;
    text-align: center;
}

button {
    background-color: var(--button-background);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-background);
}
input[type="text"], button {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Hub */
.hub {
    width: 100%;

    background-color: var(--hub-background-color); /* Cor de fundo do hub */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra leve para destaque */

    top: 0;
    left: 0;
    z-index: 1000;
    margin-bottom: 20px;

    padding: 20px 0;
    text-align: center;

    position: relative;
}

.hub h1 {
    color: var(--hub-text-color); /* Cor do título */
    margin: 0;
    font-size: 24px;
}

nav {
    margin-top: 10px;
}

nav button {
    background-color: var(--nav-button-background); /* Cor de fundo dos botões */
    color: var(--nav-button-text-color); /* Cor do texto dos botões */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: var(--nav-button-hover-background); /* Cor ao passar o mouse */
}

label {
    color: var(--label-text-color); /* Cor do texto do switch */
    margin-left: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}


/* Ajuste o layout responsivo conforme necessário */
@media (max-width: 768px) {
    .hub {
        padding: 10px;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav button {
        margin: 5px 0;
    }
}
